<?xml version="1.0" encoding="utf-8"?>
<Game xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" configVersion="0">
  <Identity Name="MeridiemGames.NeonBlood" Publisher="CN=75BF991B-EC95-49C8-9525-B5C7D82223F4" Version="1.0.0.0" />
  <ShellVisuals DefaultDisplayName="Neon Blood" PublisherDisplayName="Meridiem Games" StoreLogo="Localization/StoreLogo.png" Square150x150Logo="Localization/Logo.png" Square44x44Logo="Localization/SmallLogo.png" Square480x480Logo="Localization/LargeLogo.png" Description="ms-resource:PackageDescription" BackgroundColor="#000000" SplashScreenImage="Localization/SplashScreen.png" />
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <ExecutableList />
  <StoreId>9NS3N3N4WWV3</StoreId>
  <PersistentLocalStorage />
  <MSAAppId>000000004D2AAB1A</MSAAppId>
  <TitleId>628665A8</TitleId>
</Game>